@import "@fontsource/montserrat/700.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');

.btn-text-outline {
    text-shadow: 1px 1px 2px white, -1px -1px 2px white, -1px 1px 2px white, 1px -1px 2px white;
}

.text-outline {
    color: #083ac5; /* Dark Blue */
    font-size: 24px;
    font-weight: bold;
   
    text-shadow:
    -1px -1px 0 #ffffff,
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff,
    -2px -2px 0 #ffffff,
     2px -2px 0 #ffffff,
    -2px  2px 0 #ffffff,
     2px  2px 0 #ffffff;
}


.text1-outline {
    color: #1F6F8B; /* Dark blue text color */
    font-size: 6rem; /* Adjust size as needed */
    font-weight: bold;
    filter: url(#rounded-stroke); /* Apply the SVG filter */
}

* {
    user-select: none; /* Disable text selection */
    -webkit-user-select: none; /* Disable text selection in WebKit-based browsers */
    -moz-user-select: none; /* Disable text selection in Firefox */
    -ms-user-select: none; /* Disable text selection in old IE versions */
}

body {
    -webkit-touch-callout: none; /* Disable the copy/paste menu on iOS */
}

  
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar styles for Webkit browsers (Chrome, Safari, Edge) */
.overflow-y-auto::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background-image: url('/raw/assets/interface/scroll.png'); 
    background-size: contain;
    border-radius: 8px;
    border: 3px solid #fff;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 8px;
}


/* For Firefox */
.overflow-y-auto {
    scrollbar-width: auto;  /* 'auto', 'none', or 'thin' */
    scrollbar-color: #ff8e00 #ffffff00;  /* Thumb color and track color */
}

